<% wrap_layout :one_column do %>
    <h1 class="heading-primary"><%= current_page.title %></h1>
    <%= yield %>
    <%= partial "partials/social-sharing-buttons" %>
    <%= partial "partials/comments" %>
<% end %>