<% wrap_layout :layout do %>
    <div class="row">
        <div class="col-sm-12 col-md-9 col-content">
            <div class="container container-narrow">
                <%= partial "partials/heading-vcard" %>
                <%= yield %>
            </div>
        </div>
        <div class="col-sm-12 col-md-3 col-sidebar pull-left">
            <%= partial "partials/sidebar" %>
        </div>
    </div>
<% end %>