---
title: "Middleman + Github Pages == Static Site Bliss"
excerpt: "Let me make this easy for you: If you're building a static website, you want to build it with Middleman, and you want to deploy it to Github Pages."
---

<blockquote>Let me make this easy for you: If you&#39;re building a static website, you want to 
build it with <a href="http://middlemanapp.com">Middleman</a>, and you want to deploy it 
to <a href="http://pages.github.com">Github Pages</a>.</blockquote>

<figure>
    <img src="/images/bg-table-top.jpg" class="img-responsive">
    <figcaption class="caption">
        Explicabo ipsa quis delectus delectus iusto ut illo accusantium
    </figcaption>
</figure>

<hr>

<p>To dive in right now, head over to Middleman&#39;s <a href="http://middlemanapp.com/getting-started/">Getting 
Started</a> page and walk through the 
docs. They are very well-written, and you&#39;ll be up and running in no time. Add 
in the <a href="https://github.com/neo/middleman-gh-pages">middleman-gh-pages</a> gem to 
make deployment a breeze. While the preceding links cover the &quot;how&quot;, the rest 
of this post will cover the &quot;why&quot;.</p>

<% highlight_helper("ruby") do %>
# Methods defined in the helpers block are available in templates
helpers do
  def permalink_helper
    "http://derekconjar.com/" + current_page.path.gsub("index.html", "")
  end

  def highlight_helper(language=nil, container_width=nil, &block)
    if container_width.is_a?(Numeric)
      concat_content "<style> .highlight { width: #{container_width}px; }</style>"
    end
    
    concat_content '<figure class="highlight-container">'
    concat_content '<figcaption class="highlight-language">'+language+'</figcaption>'
    code(language, &block)
    concat_content '</figure>'
  end
end
<% end %>

<h3>Middleman is a static site generator.</h3> 

<p>This just means that rather than you 
manually writing each line of HTML, CSS, and JavaScript, the tool writes some 
of them for you based on the source you provide. Perhaps you want to write your 
pages in Markdown, or your CSS using SASS. Perhaps you want to avoid 
duplication by applying a common layout to all pages. Perhaps you want to write 
articles as simple text files and have them compiled into a working blog. 
Static site generators can do these kinds of things for you, spitting out plain 
old HTML, CSS, and JavaScript that you can host on any cheap web server.</p>

<p>That last bit is important. <strong>Your static site should be plain HTML, CSS, and 
JavaScript.</strong> I&#39;ve seen plenty of static sites built with Rails or Sinatra. It 
makes sense from a developer workflow standpoint -- these tools are wonderful 
to work with -- but it makes no sense from a deployment standpoint. Since there 
is no database layer or framework code, static sites will always be more 
secure, performant, and portable. Your site will fly, and hosting will be cheap 
or free.</p>

<% highlight_helper("ruby") do %>
# Here's an example of this script in action. This is a long line that you can scroll to read using your hands or touchpad or mouse or something, if you know what I mean.

set :css_dir, 'stylesheets'

set :js_dir, 'javascripts'

set :images_dir, 'images'

# Build-specific configuration
configure :build do
  # For example, change the Compass output style for deployment
  activate :minify_css

  # Minify Javascript on build
  activate :minify_javascript

  # Enable cache buster
  activate :asset_hash

  # Use relative URLs
  # activate :relative_assets

  # Or use a different image path
  # set :http_prefix, "/Content/images/"
end
<% end %>

<p>Perhaps one of the best-known static site generators is 
<a href="https://github.com/mojombo/jekyll">Jekyll</a>. It&#39;s been around a while and is an 
excellent blogging platform. <strong>Think of Middleman as Jekyll on steroids.</strong> 
While blogging isn&#39;t front-and-center on the Middleman site, blogging is 
<a href="http://middlemanapp.com/blogging/">well-supported and documented</a>.</p>

<h3>Middleman embraces Rails conventions.</h3> 

<p>Many of the functions of a static 
site generator are already handled by web application frameworks like Rails. 
<mark>Why reinvent the wheel and make me learn a new way of doing the same thing?</mark> 
Middleman pulls in the best bits of the Rails front end. The Rails asset 
pipeline is brought in to handle CSS and JavaScript dependencies, 
concatination, minification, and compilation of SASS, CoffeeScript, and more. 
It mimics the Rails template engine to handle partials, layouts, and whatever 
template language you prefer (HAML, Slim, etc.). It also pulls in many Rails 
view helpers for even more convenience. If you&#39;ve ever built a Rails app, 
you&#39;ll be right at home with Middleman.</p>

<h3>Middleman is powerful and extensible.</h3> 

<p>A &quot;static site&quot; in this context is 
really a misnomer. Middleman is perfect for building interactive and dynamic 
client-side apps, too. If I&#39;d known about Middleman when we built 
<a href="http://iwitness.adaptivepath.com">iWitness</a>, a complex client-side Ember app, 
it would&#39;ve saved us <a href="https://github.com/adaptivepath/iWitness/commits/master/Rakefile">tons of 
time</a> we 
spent writing our own build process.  Also, since Middleman is just a Ruby gem, 
it&#39;s easily extendable for things such as <a href="https://github.com/middleman/middleman-smusher">image 
compression</a>, <a href="https://github.com/middleman/middleman-syntax">syntax 
highlighting</a>, and 
<a href="http://middlemanapp.com/community/3rd-party-extensions/">more</a>.</p>

<table class="table">
  <tbody>
    <tr class="titles">
        <th class="symbol">Symbol</td>
        <th class="company">Company</td>
        <th class="amount">Amount</td>
        <th class="yield">Yield</td>
        <th class="exdate">Ex-Date</td>
    </tr><!-- titles -->
    <tr>
        <td class="symbol">SDT</td>
        <td class="company">SandRidge Mississippian Trust I</td>
        <td class="amount">$0.6029</td>
        <td class="yield">19.57%</td>
        <td class="exdate">11/12/2013</td>
    </tr>
    <tr>
        <td class="symbol">SDR</td>
        <td class="company">Sandridge Mississippian Trust II</td>
        <td class="amount">$0.5360</td>
        <td class="yield">18.64%</td>
        <td class="exdate">11/12/2013</td>
    </tr>
    <tr>
        <td class="symbol">PER</td>
        <td class="company">SandRidge Permian Trust</td>
        <td class="amount">$0.6520</td>
        <td class="yield">18.23%</td>
        <td class="exdate">11/12/2013</td>
    </tr>
    <tr>
        <td class="symbol">JMI</td>
        <td class="company">JAVELIN Mortgage Investment Corp.</td>
        <td class="amount">$0.1500</td>
        <td class="yield">15.16%</td>
        <td class="exdate">11/13/2013</td>
    </tr>
    <tr>
        <td class="symbol">ARR</td>
        <td class="company">ARMOUR Residential REIT, Inc.</td>
        <td class="amount">$0.0500</td>
        <td class="yield">14.56%</td>
        <td class="exdate">11/13/2013</td>
    </tr>
    <tr>
        <td class="symbol">OAKS</td>
        <td class="company">Five Oaks Investment Corp.</td>
        <td class="amount">$0.1250</td>
        <td class="yield">12.63%</td>
        <td class="exdate">11/13/2013</td>
    </tr>
    <tr>
        <td class="symbol">FSC</td>
        <td class="company">Fifth Street Finance Corp.</td>
        <td class="amount">$0.0958</td>
        <td class="yield">11.27%</td>
        <td class="exdate">11/13/2013</td>
    </tr>
    <tr>
        <td class="symbol">HRZN</td>
        <td class="company">Horizon Technology Finance Corporation</td>
        <td class="amount">$0.1150</td>
        <td class="yield">10.24%</td>
        <td class="exdate">11/15/2013</td>
    </tr>
    <tr>
        <td class="symbol">GAIN</td>
        <td class="company">Gladstone Investment Corporation</td>
        <td class="amount">$0.0600</td>
        <td class="yield">10.18%</td>
        <td class="exdate">11/12/2013</td>
    </tr>
    <tr>
        <td class="symbol">GLAD</td>
        <td class="company">Gladstone Capital Corporation</td>
        <td class="amount">$0.0700</td>
        <td class="yield">9.52%</td>
        <td class="exdate">11/12/2013</td>
    </tr>
  </tbody>
</table>

<p>When it comes time to deploy your Middleman site -- or any static site for that 
matter -- you have endless options. Any web host in the world can host a static 
site. You can even host it on 
<a href="http://docs.aws.amazon.com/AmazonS3/latest/dev/WebsiteHosting.html">S3</a>. The 
winner, though, is <a href="http://pages.github.com">Github Pages</a>. It&#39;s completely 
free, fast, and it integrates with Github, which you probably already use.</p>

<p>Middleman doesn&#39;t come with baked-in deployment options, which is why I created 
the <a href="https://github.com/neo/middleman-gh-pages">middleman-gh-pages</a> gem. It 
adds rake tasks so that <strong>you can deploy your site quickly with a single 
command.</strong> Seriously. Assuming your project repository is already on Github, a 
simple <code class="prettyprint">rake publish</code> is all it takes to publish your work to Github Pages.</p>

<p>I spend most of my time building web apps with <a href="http://rubyonrails.org">Rails</a> 
and deploying these apps to <a href="http://www.heroku.com">Heroku</a>. This tandem makes 
it ridiculously easy to get apps built and deployed quickly. I&#39;ve been spoiled, 
and I expect the same royal treatment when building a static site. I&#39;ve spent 
some time hunting down the static site equivalent of the Rails + Heroku Dream 
Team, and this is it. If you desire the same, Middleman and Github Pages won&#39;t 
let you down.</p>