<div class="masthead">
    <h3 class="masthead-heading">
        <a href="/">Derek Conjar</a>
    </h3>
    <h4 class="masthead-subheading">Building Browser-Based Businesses</h4>
    <%= partial "partials/search" %>
</div>