<div class="masthead">
    <h3 class="masthead-heading">
        <a href="/">Derek Conjar</a>
    </h3>

    <h4 class="masthead-subheading">
        Web Craftsman
    </h4>

    <a href="#search" class="search-button search-button-masthead">
        <span class="icon-magnifying-glass"></span>
    </a>

    <div id="search">
        <%= partial "partials/search" %>
    </div>
</div>