<nav class="navbar navbar-primary" role="navigation">
  <header class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-primary-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="navbar-primary-collapse">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/">
          <span class="glyphicon glyphicon-calendar"></span>
          Blog Archives
        </a>
      </li>
      <li>
        <a href="#modal-email-updates" data-toggle="modal">
          <span class="glyphicon glyphicon-envelope"></span>
          Email Updates
        </a>
      </li>
      <li>
        <a href="/feed.xml" target="_blank">
          <span class='social-icon'>rss</span>
          RSS Feed
        </a>
      </li>
      <li>
        <a href="#modal-about-me" data-toggle="modal">
          <span class="glyphicon glyphicon-user"></span>
          About Me
        </a>
      </li>
      <li>
        <a href="#modal-follow-me" data-toggle="modal">
          <span class='social-icon'>twitter</span>
          Follow Me
        </a>
      </li>
      <li>
        <a href="https://github.com/dconjar/" target="_blank">
          <span class='social-icon'>githubalt</span>
          Fork Me
        </a>
      </li>
      <li>
        <a href="#modal-contact-me" data-toggle="modal">
          <span class="glyphicon glyphicon-phone-alt"></span>
          Contact Me
        </a>
      </li>
    </ul>
  </div>
</nav>