<nav class="navbar navbar-primary" role="navigation">
  <header class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-primary-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon icon-bar"></span>
      <span class="icon icon-bar"></span>
      <span class="icon icon-bar"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="navbar-primary-collapse">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/">
          <span class="icon icon-calendar"></span>
          Blog Archives
        </a>
      </li>
      <li>
        <a href="#search" class="search-button">
          <span class="icon icon-magnifying-glass"></span>
          Site Search
        </a>
      </li>
      <li>
        <a href="#" data-toggle="modal">
          <span class="icon icon-mail"></span>
          Email Updates
        </a>
      </li>
      <li>
        <a href="/feed.xml" target="_blank">
          <span class="icon icon-rss"></span>
          RSS Feed
        </a>
      </li>
      <li>
        <a href="#modal-about-me" data-toggle="modal">
          <span class="icon icon-torso"></span>
          About Me
        </a>
      </li>
      <li>
        <a href="#modal-contact-me" data-toggle="modal">
          <span class="icon icon-telephone"></span>
          Contact Me
        </a>
      </li>
    </ul>
  </div>
</nav>