<span class="glyphicon glyphicon-search search-button search-button-masthead"></span>

<script>
    var cx = '012678659512652096230:rptlv7dhesq';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
      '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
</script>

<div id="search" class="search-box">
    <gcse:search></gcse:search>
</div>