<div class="panel panel-default panel-minimal panel-subscribe-form">
    <header class="panel-heading">
        <h3 class="panel-title">Get Email Updates</h3>
    </header>
    <%= partial "partials/subscribe-form" %>
</div>

<div class="panel panel-default panel-minimal panel-social-sharing">
    <header class="panel-heading">
        <h3 class="panel-title">Share the Love</h3>
    </header>
    <%= partial "partials/social-sharing-buttons" %>
</div>

<%= partial "partials/latest-posts" %>