<div class="panel panel-default panel-minimal panel-subscribe-form">
    <header class="panel-heading">
        <h3 class="panel-title">Get Email Updates</h3>
    </header>
    <%= partial "partials/subscribe-form" %>
</div>