.container-full {
    width: 98%;
}

.container-narrow {
    max-width: 660px;
    padding-right: 60px;
}

@media (max-width: $screen-md-min) {
    .container-narrow {
        padding-right: 0;
        max-width: 100%;
        padding: 1em;
    }
}