.navbar-primary {
    background: $brand-info;
    border-radius: 0;
    border: 0;
    margin-bottom: 0;

    .nav a {
        text-decoration: none;
        font-size: 0.8em;

        &:hover {
            background: transparent;
        }
    }

    .navbar-collapse {
        max-height: none;
    }

    .navbar-toggle {
        border: 0;
        margin-right: 4px;
        margin-top: 9px;

        .icon-bar {
            background: darken($brand-info, 20%);
        }

        &:hover {
            background: transparent;
        }
    }
}

// Display navbar across right on larger resolutions

@media (min-width: $screen-md-min) {
    .navbar-primary {
        position: fixed;
        right: 0;
        top: 0;
        background: #d4d3c1;
        height: 100%;
        width: 60px;
        z-index: 9;

        .navbar-collapse {
            position: absolute;
        }

        .nav li {
            margin: 0.4em 0;
        }

        .nav a {
            padding: 6px;
            text-align: center;
            width: 60px;
            font-size: 0.7em;
            line-height: 1.2em;
        }

        .icon {
            display: block;
            margin-bottom: 5px;
            font-size: 2.4em;
            width: 100%;
        }
    }
}

// Display Bootstrap-style navbar links in grid
// on smaller resolutions

@media (max-width: $screen-md-min) {
    .navbar-primary {
        .navbar-collapse {
            width: 100%;
        }

        .navbar-nav {
            margin: 0;
        }

        li {
            border-top: 1px solid darken($brand-info, 10%);
            background-color: darken($brand-info, 5%);
            font-size: 1.3em;

            &:hover {
                background-color: darken($brand-info, 10%);
            }
        }

        .icon {
            margin-right: 8px;
        }
    }
}