.search-button {
    cursor: pointer;
}

.search-button-masthead {
    position: absolute;
    top: 0;
    right: 0;
    color: darken($brand-info, 10%);

    &:hover {
        color: darken($brand-info, 20%);
    }

    .icon-magnifying-glass {
        font-size: 1.3em;
    }
}

.search-box {
    margin: 1.8em 0 -1.2em;
}