.social-sharing {
    margin: 3em 0 2em;
    text-align: center;
}

.social-sharing-heading {
    text-transform: uppercase;
    color: darken($brand-info, 10%);
    margin-bottom: 0;
}

.social-sharing-buttons {
    padding: 0.6em 0 0.2em;
}

.social-sharing-button {
    font-size: 3em;
    font-family: $font-family-sans-serif;
    margin: 0 10px;
    margin-bottom: 14px;
    height: 36px;
    text-decoration: none;
    color: darken($brand-info, 10%);
    line-height: 1;

    &:hover {
        color: darken($brand-info, 20%);
        text-decoration: none;
    }
}