.navbar-primary {
    background: $brand-info;
    border-radius: 0;
    border: 0;
    margin-bottom: 0;

    .navbar-logo {
        text-decoration: none;
        margin-left: 15px;
    }

    .nav a {
        text-decoration: none;
        font-size: 0.8em;
    }

    .navbar-toggle {
        border: 0;
        margin-right: 4px;
        margin-top: 9px;

        &:hover {
            background: transparent;
        }
    }
}