.social-sharing-buttons {
    margin: 40px 0;
}

.social-sharing-button:link, .social-sharing-button:visited {
    // background: #68AA53;
    // color: #fff;
    // text-decoration: none;
    // font-size: 0.9em;
    // padding: 10px 6px;
    // border-radius: 4px;
    // margin-right: 10px;
    // display: inline;
    // height: 36px;
}

.social-sharing-button:hover, .social-sharing-button:active {
    // background: #29800D;
}

/* Use by placing a "Y" in a container with the class */
.icon-hacker-news {
    background: #fff;
    color: #68AA53;
    padding: 2px 6px;
    border: 1px solid #fff;
    font-family: Verdana, sans-serif;
}

.icon-twitter {
    margin-bottom: -4px;
}

.icon-facebook {
    margin-bottom: -7px;
}

.icon-gplus {
    margin-bottom: -7px;
}