.widget {
    color: $gray-light;
    font-size: 0.8em;
}

.widget-heading {
    font-size: 1.6em;
    font-weight: normal;
    margin-top: 0;
}

.widget-subheading {
    font-size: 1.2em;
    margin-bottom: 0.4em;
}