---
title: "Ah, where'd it go?!"
---

<h1 class="heading-primary">Ah, where'd it go?!</h1>

<p>The thing you're looking for has mysteriously vanished.</p>

<p>Maybe a site search will do the trick?</p>

<%= partial "partials/search-script" %>
<%= partial "partials/search" %>